.carthead{
 font-size: 188%;
 text-align: center;
 position: relative;
}
.cartItems{
    display: inline;
}
.cart{
    float: right;
    margin-top: -71%;
    width: 40%;
}
.rightboxcart{
    display: inline;
}